<md-menu>
    <md-button aria-label="Open phone interactions menu" class="md-icon-button">
        <md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>
    </md-button>
    <md-menu-content width="4">
        <md-menu-item>
            <md-button ng-click="">
                <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
                Redial
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
                <md-icon md-svg-icon=""></md-icon>
                Check voicemail
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>
